<body class="text-center ">
  <div class="comtainer">
    <h2>Resend confirmation instructions</h2>

    <%= form_for(resource, as: resource_name,class:"form-signin", url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="row justify-content-center">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>

      <div class="row justify-content-center col-xs-3">
        <%= f.submit "Resend confirmation instructions" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</body>
