<div class="text-center">
  <div class="container">
  <h2>アカウント作成</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="row justify-content-center">
      <%# <% if @user.icon? %>
        <%= image_tag @user.icon.url,:size =>'180x180', id: :img_prev %>
      <%# <% else %>
        <%# <%= image_tag "/assets/my_page_default_img.png", :size => '180x180', id: :img_prev %> %>
      <%# <% end %>
      <!-- <script type="text/javascript">
      $(function() {
       function readURL(input) {
         if (input.files && input.files[0]) {
           var reader = new FileReader();
           reader.onload = function (e) {
             $('#img_prev').attr('src', e.target.result);
           }
           reader.readAsDataURL(input.files[0]);
         }
       }
       $("#book_img").change(function(){
         readURL(this);
       });
      });
      </script> -->
      <%= f.label :icon,class: "sr-only" %><br />
      <%= f.file_field :icon, accept: 'image/jpeg,image/gif,image/png' %>
      <%= f.hidden_field :icon_cache %>
    </div>

    <br>

    <div class="row justify-content-center">
      <%= f.label :name,class: "sr-only" %>
      <%= f.text_field :name, autofocus: true, autocomplete: "お名前" ,class: "form-control",id: "inputUser",placeholder: "お名前" %>
    </div>

    <br>

    <div class="row justify-content-center">
      <%= f.label :email,class: "sr-only" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", autocomplete: "email" ,class: "form-control",id: "inputUser",placeholder: "メールアドレス" %>
    </div>

    <br>

    <div class="row justify-content-center">
      <%= f.label :password,class: "sr-only" %>
      <% if @minimum_password_length %>
      <%= f.password_field :password, autocomplete: "new-password" ,class: "form-control",id: "inputUser",placeholder: "パスワード (#{@minimum_password_length}文字以上) " %>
      <% end %><br />
    </div>

    <br>

    <div class="row justify-content-center">
      <%= f.label :password_confirmation,class: "sr-only" %><br/>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" ,class: "form-control",id: "inputUser",placeholder: "確認用パスワード" %>
    </div>

    <br>

    <div class="row justify-content-center col-xs-3">
      <%= f.submit "Sign up" ,class: "btn btn-lg btn-primary "%>
    </div>
  <% end %>

    <br>

  <%= link_to 'ゲストログイン（閲覧用）', guest_sign_in_events_path, method: :post ,class: "btn btn-outline-success"%>
  </div>
</div>
