<div class="text-center">
  <div class="search_index container">
    <br>
    <h2><%= @user.name %>さんのフォロワー</h2>
    <hr>
    <br>
    <% if @user.followers.count == 0 %>
      <p>フォロワーはいません。</p>
      <br>
    <% else %>
      <table id="event_list" >
        <thead>
          <tr>
            <th>アイコン</th>
            <th>ユーザ名</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% @users_followers.each do |user| %>
            <tr class="search_reslut">
              <td onclick='window.location="<%= '/users/' + user.id.to_s %>"' role="link"><%= image_tag user.icon.url, :size =>'100x100',class: "image_icon" %></td>
              <td onclick='window.location="<%= '/users/' + user.id.to_s %>"' role="link"><%= link_to "#{user.name}",user_path(user.id) %></td>
              <td><%= render 'follow_form', user: user unless user.id == current_user.id %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% end %>
      <%= link_to "戻る", :back ,class: "btn btn-outline-secondary" %>
  </div>
</div>
