<%= search_form_for(@q, url:search_path) do |f| %>
  <div class="field">
    <%= f.label :title_or_content, "キーワードで検索" %>
    <%= f.text_field :title_or_content_cont_any %>
  </div>

  <div class="field">
    <%= f.label :e_date,"日付で検索" %>
    <%= f.date_field :e_date_gteq %>~
    <%= f.date_field :e_date_lteq_end_of_day  %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
