<div class="text-center">
  <div class="search_index container">

    <% require 'date' %>
    <% date = Date.today %>
    <% weeks = ["月","火","水","木","金","土","日"] %>
    <% index = date.strftime("%u").to_i %>

    <br>
    <h1>確認画面</h1>
    <hr>
    <p class="alert alert-danger">まだ登録が完了していません！</p>
    <%= form_with(model: @event, url: events_path, local: true) do |form| %>
      <%= form.hidden_field :image_cache %>
      <%= form.hidden_field :title %>
      <%= form.hidden_field :e_date_start %>
      <%= form.hidden_field :e_date_end %>
      <%= form.hidden_field :address %>
      <%= form.hidden_field :content %>
      <h2><%= @event.title %></h2>
      <%= image_tag(@event.image.url, class: "image_icon img-fluid",id: "eventImage" ) if @event.image && @event.image.url %>
      <% @label_ids.each do |label_id| %>
        <%= form.hidden_field :label_ids, value: label_id, multiple: true %>
      <% end %>
      <p><strong>開催日時：</strong><%= @event.e_date_start.strftime("%Y年%-m月%-d日 #{weeks[index - 1]}曜日 %-H時%-M分") %>~<%= @event.e_date_end.strftime("%Y年%-m月%-d日 #{weeks[index - 1]}曜日 %-H時%-M分") if @event.e_date_end.present? %>まで</p>
      <p><strong>開催場所：</strong><%= @event.address %></p>
      <p><%= markdown(@event.content) %></p>
      <% if @event.labels.present? %>
        <p>
          <strong>ラベル:</strong>
          <span class="labels"><% @event.labels.each do |label| %>
          <%= label.name %>
          <% end %></span>
        </p>
      <% end %>
      <%= form.submit "投稿する",class: "btn btn-lg btn-primary ", data: { confirm: 'この内容でよろしいですか？' } %>
    <% end %>

    <%= form_with(model:@event, url:new_event_path, local:true, method:"get") do |form| %>
      <%= form.hidden_field :image_cache %>
      <%= form.hidden_field :title %>
      <%= form.hidden_field :e_date_start %>
      <%= form.hidden_field :e_date_end %>
      <%= form.hidden_field :address %>
      <%= form.hidden_field :content %>
      <% @label_ids.each do |label_id| %>
        <%= form.hidden_field :label_ids, value: label_id, multiple: true %>
      <% end %>
      <br>
      <%= form.submit "戻る", name: "back",class: "btn btn-outline-secondary" %>
    <% end %>
    <br>
  </div>
</div>
