<h1>確認画面</h1>

<%= form_with(model: @event, url: events_path, local: true) do |form| %>
  <%= image_tag(@event.image.url, :size =>'100x100') if @event.image && @event.image.url %>
  <%= form.hidden_field :image_cache %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :e_date_start %>
  <%= form.hidden_field :e_date_end %>
  <%= form.hidden_field :address %>
  <%= form.hidden_field :content %>
  <% @label_ids.each do |label_id| %>
    <%= form.hidden_field :label_ids, value: label_id, multiple: true %>
  <% end %>
  <p><%= @event.title %></p>
  <p><%= @event.e_date_start %>~<%= @event.e_date_end %></p>
  <p><%= @event.address %></p>
  <p><%= @event.content %></p>
  <p>
    <strong>ラベル:</strong>
    <span class="labels"><% @event.labels.each do |label| %>
    <%= label.name %>
    <% end %></span>
  </p>
  <%= form.submit "投稿する" %>
  <%= form.submit "戻る", name: "back" %>
<% end %>

<%= form_with(model:@event, url:new_event_path, local:true, method:"get") do |form| %>
  <%= form.hidden_field :image_cache %>
  <%= form.submit "戻る", name: "back" %>
<% end %>
