<p id="notice"><%= notice %></p>

<h1>あとでみるリスト</h1>
<p>ようこそ<%= current_user.name %>さん</p>
<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favorites.each do |event| %>
      <tr>
        <td><%= image_tag event.image.url, :size =>'100x100' %></td>
        <td><%= event.content %></td>
        <td><%= link_to '記事を読む', event %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '戻る', events_path %>
