  <p id="notice"><%= notice %></p>

<% if current_user.try(:admin?) %>
  <h1>Events_admin</h1>
<% else %>
  <h1>Events</h1>
<% end %>

  <p>イベント検索<%= render 'search_form' %></p>

  <div class="row">
  <table>
    <thead>
      <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Content</th>
        <th>E date</th>
        <th>Address</th>
        <th>Label</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= image_tag event.image.url, :size =>'100x100' %></td>
          <td><%= event.title %></td>
          <td><%= markdown(event.content) %></td>
          <td><%= event.e_date_start %>~<%= event.e_date_end %></td>
          <td><%= event.address %></td>
          <td>
          <% event.labels.each do |label| %>
            <span class="labels"><%= label.name %></span>
          <% end %>
          </td>
          <td><%= link_to 'Show', event %></td>
        <% if user_signed_in? %>
          <% if event.user_id == current_user.id %>
          <td><%= link_to 'Edit', edit_event_path(event) %></td>
          <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @events %>
  <br>

  <%= link_to 'New Event', new_event_path %>
