  <div class="jumbotron jumbotron-fluid text-center">
      <div class="container">
          <h1 class="display-3">EVENT KEERER</h1>
          <p class="lead">365日24時間エンターテイメント！</p>
      </div>
  </div>
  <p id="notice"><%= notice %></p>

<% if current_user.try(:admin?) %>
  <h1>Events_admin</h1>
<% else %>
  <h1>Events</h1>
<% end %>

  <div class="contents mx-auto">
    <div class="row center-block">
      <% @events.each do |event| %>
      <div class="card-deck col-sm-6 col-md-3 mt-5" >
       <div class="card img-thumbnail">
         <%= link_to event,class: "event_link" do %>
          <%= image_tag event.image.url , class: "card-img-top" %>
          <div class="card-body px-2 py-3">
            <h4 class="card-title"><%= event.title %></h4>
            <p class="card-text"><%= markdown(event.content) %></p>
            </div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="paginate">
    <%= paginate @events %>
  </div>
