  <div class="jumbotron jumbotron-fluid text-center">
      <div class="container">
          <h1 class="display-3">EVENT KEERER</h1>
          <p class="lead">365日24時間エンターテイメント！</p>
      </div>
  </div>
  <p id="notice"><%= notice %></p>

<% if current_user.try(:admin?) %>
  <h1>Events_admin</h1>
<% else %>
  <h1>Events</h1>
<% end %>




<!-- <article class=""> -->
  <div class="contents mx-auto">
    <!-- カード -->
    <div class="row center-block">
      <% @events.each do |event| %>
      <%# <%= link_to event_path(event.id) do %>
      <div class="card-deck col-sm-6 col-md-3 mt-5" >
       <div class="card img-thumbnail">
          <!-- <img class="card-img-top" src="https://www.homepage-tukurikata.com/image/lion.jpg" alt="画像"> -->
          <%= image_tag event.image.url , class: "card-img-top" %>
          <div class="card-body px-2 py-3">
            <h5 class="card-title"><%= event.title %></h5>
            <p class="card-text"><%= markdown(event.content) %></p>
            <!-- <p class="mb-0"><a href="#" class="btn btn-primary btn-sm">ボタン</a> <a href="#" class="btn btn-secondary btn-sm">ボタン</a></p> -->
            <%= link_to 'Show', event %>
          </div><!-- /.card-body -->
        </div><!-- /.card -->
      </div><!-- /.col-sm-6.col-md-3 -->
      <%# <% end %>
      <% end %>


<%# <%= image_tag("earring/01.jpg", :class => "card-img-top", :alt => "Card image cap") %> %>
    </div>
  </div>
<!-- </article> -->
  <div class="paginate">
    <%= paginate @events %>
  </div>
