<div class="text-center">
  <div class="event_show container">
    <% require 'date' %>
    <% date = Date.today %>
    <% weeks = ["月","火","水","木","金","土","日"] %>
    <% index = date.strftime("%u").to_i %>
    <p id="notice"><%= notice %></p>
    <% if user_signed_in? %>
      <% unless @event.user_id == current_user.id %>
        <% if @favorite.present? %>
          <%= link_to 'あとで見るリストから外す', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
        <% else %>
          <%= link_to 'あとで見る', favorites_path(event_id: @event.id), method: :post, class: 'btn btn-primary' %>
        <% end %>
      <% end %>
    <% end %>
    <br>
    <h1>
      <%= @event.title %>
    </h1>

    <% if user_signed_in? %>
      <% if @event.user_id == current_user.id %>
        <p>あなたが主催者です。</p>
      <% end %>
    <% end %>

    <p class="col-12">
      <%= image_tag @event.image.url ,class: "img-fluid" %>
    </p>

    <p>
      <strong>主催者：</strong>
      <%= link_to "#{@event.user.name}", user_path(@event.user.id) %>
    </p>

    <p>
      <strong>イベント開催日時：</strong>
      <%= @event.e_date_start.strftime("%Y年%-m月%-d日 #{weeks[index - 1]}曜日 %-H時%-M分") %>~<%= @event.e_date_end.strftime("%Y年%-m月%-d日 #{weeks[index - 1]}曜日 %-H時%-M分") if @event.e_date_end.present? %>
    </p>

    <p>
      <strong>開催場所：</strong>
      <%= @event.address %>
    </p>

    <% if @event.labels.present? %>
      <p>
        <strong>ラベル：</strong>
        <span class="labels">
          <% @event.labels.each do |label| %>
          <%= label.name %>
          <% end %>
        </span>
      </p>
    <% end %>
    <hr>
    <p>
      <%= markdown(@event.content) %>
    </p>
    <% if user_signed_in? %>
      <% if @event.e_date_start <= Time.now %>
      <h2>このイベントは終了いたしました</h2>
      <br>
      <% else %>
      <br>
      <h4>参加者</h4>
      <hr>
        <% if @parthicipante_users.present? %>
          <% @parthicipante_users.each do |parthicipante| %>
          <p><%= link_to "#{parthicipante.name}さん",user_path(parthicipante.id) %></p>
          <% end %>
        <% else %>
          <p>参加者はいません</p>
        <% end %>

        <% unless @event.user_id == current_user.id %>
          <% if @current_user_parthicipant.present? %>
            <%= link_to '参加をキャンセルする', parthicipant_management_path(id: @current_user_parthicipant.id), method: :delete, class: 'btn btn-danger' %><br>
          <% else %>
            <%= link_to '参加する', parthicipant_managements_path(event_id: @event.id), method: :post, class: 'btn btn-primary' %><br>
          <% end %>
          <br>
          <%= link_to '主催者にお問い合わせ', new_contact_path(event_id: @event.id), class: "btn btn-outline-info" unless @event.user_id == current_user.id %><br>
          <br>
        <% end %>
      <% end %>
      <% if @event.user_id == current_user.id %>
        <p><%= link_to '編集', edit_event_path(@event),class: "btn btn-outline-danger" %></p>
      <% end %>
    <% end %>
    <p><%= link_to '戻る', events_path ,class: "btn btn-outline-secondary" %></p>
  </div>
</div>
