<p id="notice"><%= notice %></p>
<% if user_signed_in? %>
  <% unless @event.user_id == current_user.id %>
    <% if @favorite.present? %>
      <%= link_to 'あとで見るリストから外す', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
    <% else %>
      <%= link_to 'あとで見る', favorites_path(event_id: @event.id), method: :post, class: 'btn btn-primary' %>
    <% end %>
  <% end %>
<% end %>
<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= markdown(@event.content) %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @event.image.url %>
</p>

<p>
  <strong>O:</strong>
  <%= @event.o_id %>
</p>

<p>
  <strong>E date:</strong>
  <%= @event.e_date_start %>~<%= @event.e_date_end %>
</p>

<% if user_signed_in? %>
  <% unless @event.user_id == current_user.id %>
    <% if @favorite.present? %>
      <%= link_to '参加をキャンセルする', parthicipant_path(id: @parthicipant.id), method: :delete, class: 'btn btn-danger' %>
    <% else %>
      <%= link_to '参加する', parthicipant_path(event_id: @event.id), method: :post, class: 'btn btn-primary' %>
    <% end %>
  <% end %>
<% end %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
