<div class="text-center">
  <div class="container">

    <% require 'date' %>
    <% date = Date.today %>
    <% weeks = ["月","火","水","木","金","土","日"] %>
    <% index = date.strftime("%u").to_i %>

    <p id="notice"><%= notice %></p>
    <% if user_signed_in? %>
      <% unless @event.user_id == current_user.id %>
        <% if @favorite.present? %>
          <%= link_to 'あとで見るリストから外す', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
        <% else %>
          <%= link_to 'あとで見る', favorites_path(event_id: @event.id), method: :post, class: 'btn btn-primary' %>
        <% end %>
      <% end %>
    <% end %>
    <br>
    <h1>
      <%= @event.title %>
    </h1>


    <p>
      <%= image_tag @event.image.url , :size =>'750x500' %>
    </p>

    <p>
      <strong>イベント開催日時</strong>
      <%= @event.e_date_start.strftime("%Y年%-m月%-d日 #{weeks[index - 1]}曜日 %-H時%-M分") %>~<%= @event.e_date_end.strftime("%Y年%-m月%-d日 #{weeks[index - 1]}曜日 %-H時%-M分") if @event.e_date_end.present? %>
    </p>

    <p>
      <strong>開催場所</strong>
      <%= @event.address %>
    </p>

    <p>
      <strong>ラベル:</strong>
      <span class="labels"><% @event.labels.each do |label| %>
        <%= label.name %>
        <% end %></span>
      </p>

    <p>
      <strong>イベント内容</strong>
      <br>
      <%= markdown(@event.content) %>
    </p>


    <% if user_signed_in? %>

      <% if @event.e_date_start <= Time.now %>
      <h2>このイベントは終了いたしました</h2>
      <% else %>

      <h4>参加者</h4>
        <% if @parthicipante_users.present? %>
          <% @parthicipante_users.each do |parthicipante| %>
          <p><%= parthicipante.name %>さん</p>
          <% end %>
        <% else %>
          <p>参加者はいません</p>
        <% end %>
<!-- @parthicipante  @current_user_parthicipantv比べよう -->
        <% unless @event.user_id == current_user.id %>
          <% if @current_user_parthicipant.present? %>
            <%= link_to '参加をキャンセルする', parthicipant_management_path(id: @current_user_parthicipant.id), method: :delete, class: 'btn btn-danger' %><br>
          <% else %>
          <%# <% binding.pry %> %>
            <%= link_to '参加する', parthicipant_managements_path(event_id: @event.id), method: :post, class: 'btn btn-primary' %><br>
          <% end %>

          <%= link_to 'お問い合わせ', new_contact_path(event_id: @event.id), class: "btn btn-link" %><br>
        <% end %>
      <% end %>

      <% if @event.user_id == current_user.id %>
        <p><%= link_to '編集', edit_event_path(@event),class: "btn btn-outline-danger" %></p>
      <% end %>

    <% end %>



    <p><%= link_to '戻る', events_path,class: "btn btn-outline-secondary" %></p>


  </div>
</div>
