<div class="text-center">
  <div class="container">
    <br>
    <h2><%= current_user.name %>さんの受信BOX</h2>
    <br>
    <% unless @contacts.present?  %>
      <p>メールはありません。</p>
      <br>
    <% else %>
      <table id="event_list" >
        <thead>
          <tr>
            <th>送り主</th>
            <th>件名</th>
            <th>メールアドレス</th>
            <th>内容</th>
          </tr>
        </thead>

        <tbody>
          <% @contacts.each do |contact| %>
            <tr>
              <td><%= contact.name %></td>
              <td><%= contact.title %></td>
              <td><%= contact.email %></td>
              <td><%= contact.content.truncate(15) %></td>
              <td><%= link_to '詳細', contact, class: "btn btn-outline-secondary" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% end %>
      <br>
      <%= link_to "戻る", :back ,class: "btn btn-outline-secondary" %>
  </div>
</div>
