<div class="text-center">
  <div class="event_show container">
    <br>
    <p id="notice"><%= notice %></p>
    <h1>受信メール</h1>
    <hr>
    <p>
      <strong>タイトル:</strong>
      <%= @contact.title %>
    </p>
    <p>
      <strong>お名前:</strong>
      <%= @contact.name %>
    </p>
    <p>
      <strong>返信用メールアドレス:</strong>
      <%= @contact.email %>
    </p>
    <hr>
    <p>
      <%= @contact.content %>
    </p>
    <br>
    <%= link_to '戻る', :back,class: "btn btn-outline-secondary" %>
  </div>
</div>
