<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @contact.title %>
</p>
<p>
  <strong>お名前:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>メールアドレス:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>お問い合わせ内容:</strong>
  <%= @contact.content %>
</p>

<%= link_to '戻る', event_path(@contact.event.id) %>
