<!DOCTYPE html>
<html>
  <head>
    <title>Graduation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header" class="container" >
      <h3>EventKeeper</h3>
      <nav>
        <ul class="top_menu" class="row">
        <% if user_signed_in? %>
          <li><%= link_to "プロフィール", user_path(current_user.id) %></li>
          <li><%= link_to "記事一覧", events_path %></li>
          <li><%= link_to "あとでみるリスト", favorite_events_path %></li>
          <li><%= link_to "新規イベント作成", new_event_path %></li>

        <% else %>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
          <li><%= link_to "ログイン", new_user_session_path %></li>
        <% end %>
        </ul>
      </nav>
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    </header>
    <section class="main-header">
      <div class="header_image">
        <!-- <p class="image"><img src="../../assets/workshop-1746275_1920.jpg"></p> -->
      </div>
    </section>
    <%= yield %>
    <footer class="footer">
    <p>運営会社INSTCLONE株式会社</p>
    <p>© 2000 - 2019 Copyright INSTCLONE Corp.</p>
    </footer>
  </body>
</html>
